.articles {

    background-color: $veryLightGray;
    padding-top: 5.875rem;
    margin-top: 0;

    &__container3{
        background-color: $white;

        @include breakpoint-up(large) {

            display: flex;
            flex-direction: row;
        }
    }

    &__images {
        width: 20.3rem;
        height: 12.5rem;
        border-radius: 5px;
        display: block;
        margin-left: auto;
        margin-right: auto;

        @include breakpoint-up(large) {
            width: 16rem;
            border-radius: 0;
        }
    }

    &__text {

        padding-left: 1.625rem;
        padding-right: 1.625rem;

        h4 {
            font-size: $font-sm;
            margin-bottom: 0;
            padding-left: 1.625rem;
            padding-right: 1.625rem;
        }
        

        h3 {
            color: $darkBlue;
            font-size: $font-med;
            font-weight: 400;
            margin-top: 0.875rem;
            margin-bottom: 0.875rem;
            padding-left: 1.625rem;
            padding-right: 1.625rem;
            transition: opacity 300ms ease-in-out;
            cursor: pointer;

            &:hover{
                background: linear-gradient(to right, $limeGreen, $brightCyan);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                opacity: 80%;
            }
        }

        h2 {
            text-align: center;
            color: $darkBlue;
            margin-top: 0px;
            margin-bottom: 2.5rem;
            font-size: 2rem;
            padding-left: 1.625rem;
            padding-right: 1.625rem;

            @include breakpoint-up(large) {
                text-align: left;
                font-size: 2.5rem;
                font-weight: lighter;
                padding-left: 0px;
                padding-right: 0px;
            }
        }


        p {
            font-size: $font-sm;
            padding-bottom: 2.75rem;
            padding-left: 1.625rem;
            padding-right: 1.625rem;
        }
    }
}